.header {
  text-align: center;
}

.mainContainer{
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  margin: 60px;
}

.main{
  margin: 40px;
}

.selected{
  background-color: aquamarine;
}